# Enable mod_rewrite
RewriteEngine On

# Custom URL Rewriting Rules
RewriteRule ^(index|contacts|keyboard_builder|guide|checkout|order_products|products|order|privacy_policy)$ $1.php [NC,L]
RewriteRule ^order/([^/]*)$ order_info.php?order_number=$1 [L]
RewriteRule ^accesorie_order/([^/]*)$ order_info_products.php?order_number=$1 [L]
RewriteRule ^product/([^/]*)$ product.php?p_id=$1 [L]

