body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: linear-gradient(90deg, rgba(75,24,210,1) 0%, rgba(125,17,185,1) 50%, rgba(58,7,101,1) 100%);
    padding: 0;
}

.container {
    width: 90%;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    grid-column: 1 / -1;
}

.chart-container {
    grid-column: span 1;
    text-align: center;
}

.order-status {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.order-status .complete,
.order-status .incomplete {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: calc(33.33% - 10px); /* Adjust width as needed */
}

.order-status .complete .count,
.order-status .incomplete .count {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
}

.order-status .complete {
    border: 2px solid #6abf69;
}

.order-status .incomplete {
    border: 2px solid #ff6347;
}

.center {
    margin: auto;
    width: 50%;
}

header {
    background: linear-gradient(90deg, rgba(75,24,210,1) 0%, rgba(125,17,185,1) 50%, rgba(58,7,101,1) 100%);
    color: #fff; /* White text color */
    padding: 20px; /* Add padding to the header */
    display: flex; /* Use flexbox for layout */
    justify-content: space-between; /* Distribute items evenly along the main axis */
    align-items: center; /* Center items vertically */
}

.logo img {
    width: 175px; /* Adjust the width of the logo */
    height: auto; /* Maintain aspect ratio */
    @media only screen and (max-width: 768px) {
        width: 100px;
    }
}

nav ul {
    list-style-type: none; /* Remove bullet points from the list */
    padding: 0; /* Remove default padding */
    display: flex; /* Use flexbox for layout */
}

nav ul li {
    margin-left: 20px; /* Add margin between list items */
}

nav ul li:first-child {
    margin-left: 0; /* Remove margin from the first list item */
}

nav ul li a {
    display: inline-block; /* Display links as block elements */
    padding: 10px 20px; /* Add padding to the links */
    background-color: #555; /* Background color for the links */
    color: #fff; /* White text color for links */
    text-decoration: none; /* Remove underline from links */
    border-radius: 5px; /* Add rounded corners */
    font-size: 18px; /* Adjust font size */
    transition: background-color 0.3s; /* Add transition effect for background color */
}

nav ul li a:hover {
    background-color: #391b68; /* Darker background color on hover */
}

.dropbtn {
    border-radius: 10px;

    background-color: #0000003a;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }