body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, rgba(75,24,210,1) 0%, rgba(125,17,185,1) 50%, rgba(58,7,101,1) 100%);
}



h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

    .container {
        max-width: 400px;
        padding: 40px;
        margin: 20px auto;
        margin-top: 50px;
        background-color: #ffffff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
    }

    .container h1 {
        text-align: center;
        font-size: 24px;
        margin-bottom: 20px;
    }

    .form-group {
        margin-bottom: 20px;
    }

    .form-group label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
    }

    .form-group input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .form-group button {
        width: 100%;
        padding: 10px;
        background-color: #009688;
        color: #ffffff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-weight: bold;
    }

    .form-group button:hover {
        background-color: #00796b;
    }


    .btn {
        flex: 1 1 auto;
        padding: 10px 20px;
        cursor: pointer;
        color: #fff;
        text-align: center;
        text-transform: uppercase;
        background: linear-gradient(90deg, var(--c1, rgba(75,5,161,1)), var(--c2, rgba(118,7,200,1)) 51%, var(--c1, rgba(68,6,138,1))) var(--x, 0)/ 200%;
        border-radius: 4px;
        border: none;
        transition: 0.5s;
        }


    .btn:hover { --x: 100%; }



